@{
    ViewData["Title"] = "Home Page";
}

@model webapp.Models.IndexViewModel

<h1 class="display-4">Customers</h1>

<h2 class="display-4">Search</h2>

@using (Html.BeginForm("SearchCustomers", "Home", FormMethod.Post))
{
    <div>Title: </div>
    @Html.DropDownListFor(m => m.SearchDetails.CustomerTitleId, new SelectList(Model.SearchDetails.Titles, "Id", "Name"))

    <div>First Name: </div>
    @Html.TextBoxFor(m => m.SearchDetails.Customer.FirstName, new { @name = "Customer.FirstName" })

    <div>Last Name: </div>
    @Html.TextBoxFor(m => m.SearchDetails.Customer.LastName)

    <div>Address Line 1: </div>
    @Html.TextBoxFor(m => m.SearchDetails.Customer.AddressLine1)

    <div>Address Postcode: </div>
    @Html.TextBoxFor(m => m.SearchDetails.Customer.AddressPostcode)

    <div style="clear:both"></div>

    <input type="submit" value="Search" />
}

<input type="button" value="Add Customer" onclick="location.href='@Url.Action("AddCustomer", "Home")'" />

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>AddressLine1</th>
        <th>AddressPostcode</th>
        <th></th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Title</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.AddressLine1</td>
            <td>@customer.AddressPostcode</td>
            <td><input type="button" value="Delete" onclick="location.href='@Url.Action("DeleteCustomer", "Home", new { customerId = customer.Id })'" /></td>
        </tr>
    }
</table>    