@{
    ViewData["Title"] = "Home Page";
}

@model WebApp.Models.IndexViewModel

<div class="center page-title">
    <h1>Customers</h1>
</div>

@using (Html.BeginForm("SearchCustomers", "Home", FormMethod.Post))
{
    <div class="field-container center" style="width:1005px; border: 1px solid #93aeff; padding: 10px !important; margin-top: 20px; margin-bottom: 20px;">
        <div style="font-size: 26px; font-weight: 500;">Search</div>

        <div class="two-columns">
            <div class="field">
                <div class="label">Title: </div>
                <div class="value-container">
                    @Html.DropDownListFor(m => m.SearchDetails.CustomerTitleId, new SelectList(Model.SearchDetails.Titles, "Id", "Name"), new { @class="value"})
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="field">
                <div class="label">First Name: </div>
                <div class="value-container">
                    @Html.TextBoxFor(m => m.SearchDetails.Customer.FirstName, new { @name = "Customer.FirstName", @class="value"})
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="field">
                <div class="label">Last Name: </div>
                <div class="value-container">
                    @Html.TextBoxFor(m => m.SearchDetails.Customer.LastName, new { @class="value"})
                </div>
                <div style="clear:both"></div>
            </div>
        </div>

        <div class="two-columns">
            <div class="field">
                <div class="label">Address Line 1: </div>
                <div class="value-container">
                    @Html.TextBoxFor(m => m.SearchDetails.Customer.AddressLine1, new { @class="value"})
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="field">
                <div class="label">Address Postcode: </div>
                <div class="value-container">
                    @Html.TextBoxFor(m => m.SearchDetails.Customer.AddressPostcode, new { @class="value"})
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="center" style="width:351px;">
                <input type="submit" class="button" value="Search" />
                <input type="button" class="button" value="Clear Search" onclick="location.href='@Url.Action("Index", "Home")'" />
            </div>
        </div>

        <div style="clear:both"></div>        
    </div>
}

<div class="center" style="width: 1005px;">
    <input type="button" class="button" style="margin-bottom:20px;" value="Add Customer" onclick="location.href='@Url.Action("AddCustomer", "Home")'" />

    <table>
        <tr>
            <th><div>Id</div></th>
            <th><div>Title</div></th>
            <th><div>FirstName</div></th>
            <th><div>LastName</div></th>
            <th><div>AddressLine1</div></th>
            <th><div>AddressPostcode</div></th>
            <th><div></div></th>
            <th><div></div></th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Title</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.AddressLine1</td>
                <td>@customer.AddressPostcode</td>
                <td><input type="button" class="small-button" value="Edit" onclick="location.href='@Url.Action("EditCustomer", "Home", new { customerId = customer.Id })'" /></td>
                <td><input type="button" class="small-button" value="Delete" onclick="location.href='@Url.Action("DeleteCustomer", "Home", new { customerId = customer.Id })'" /></td>
            </tr>
        }
    </table>
</div>