@{
    ViewData["Title"] = "Home Page";
}

@model webapp.Models.IndexViewModel

<h1 class="display-4">Customers</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>AddressLine1</th>
        <th>AddressPostcode</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Title</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.AddressLine1</td>
            <td>@customer.AddressPostcode</td>
        </tr>
    }
</table>    